body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

.reset-box {
    width: 400px;
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: #cbd5f5;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}
