* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.login-box h1 {
    font-size: 32px;
    color: #1e3c72;
    margin-bottom: 5px;
}

.login-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.input-group input:focus {
    outline: none;
    border-color: #1e3c72;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #1e3c72;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16335d;
}

small {
    display: block;
    margin-top: 20px;
    color: #777;
}

.links {
    text-align: right;
    margin-bottom: 15px;
}

.links a {
    font-size: 13px;
    color: #1e3c72;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.register {
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #1e3c72;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}


.password-group {
    position: relative;
}

.password-group input {
    width: 100%;
    padding: 12px;
    padding-right: 45px; /* space for eye */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

.toggle-password:hover {
    color: #1e3c72;
}
